{% extends 'base.html' %}
{% block title %}New Entry{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mt-5">New Entry</h1>
                <div class="signup-form">
                    <form method="post" class="mt-4 needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            {{ form.title }}
                            <div class="invalid-feedback">Please enter a title.</div>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Text:</label>
                            {{ form.text }}
                            <div class="invalid-feedback">Please enter some text.</div>
                        </div>
                        <small class="text-muted">Add your emotions in single words what have been through, like today was exciting, today was tiring.</small>
                        <ul class="list-unstyled text-muted">
                            <li>What plans for tomorrow make you upset?</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Save Entry</button>
                    </form>
                </div>
                 <script>
                    (function() {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.prototype.slice.call(forms)
                            .forEach(function(form) {
                                form.addEventListener('submit', function(event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault()
                                        event.stopPropagation()
                                    }

                                    form.classList.add('was-validated')
                                }, false)
                            })
                    })()
                </script>
            </div>
        </div>
    </div>
{% endblock %}
<style>
    .form-label {
        display: block;
        text-align: left;
        margin-bottom: 0.2rem;
    }
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        min-height: 150px;
    }
</style>
