{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mt-5">New Entry</h1>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.text.label_tag }}
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="text-danger">{{ form.text.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Save Entry</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
