{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mt-4">Your Entries</h2>
                <div class="row">
                    {% for entry in entries %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ entry.date|date:"F j, Y" }}</h5>
                                    <p class="card-text">{{ entry.text|truncatechars:100 }}</p>
                                    <a href="{% url 'edit_entry' entry.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete_entry' entry.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
