{% extends 'base.html' %}
{% block content %}
    <h1>Your Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p> <br>
    <a href="{% url 'new_entry' %}">Create New Entry</a><br>
    <h2>Your Entries</h2>
    {% for entry in entries %}
        <p>{{ entry.date }}: {{ entry.text|truncatechars:50 }}</p>
        <a href="{% url 'edit_entry' entry.id %}">Edit</a> |
        <a href="{% url 'delete_entry' entry.id %}">Delete</a>
        <br>
    {% endfor %}
    <!-- Add other profile details as needed -->
{% endblock %}
